:root {
  font-size: 16px;
}

.rootLayout {
  padding: 1rem 4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      display: flex;
      align-items: center;
      font-weight: bold;
      text-decoration: none;
      color: #ececec;
    }
  }

  main {
    flex: 1;
    overflow: hidden;
  }
}
